### Q1)

In [5]:
16 % 2

0

### Q2)

In [4]:
2//3

0

### Q3)

In [6]:
6<<2

24

### Q4)

In [7]:
6&2

2

### Q5)

In [8]:
6|2

6

### Q11)

In [80]:
import math
math.factorial(3)

6

In [81]:
def factorial(n):
    x = 1
    for num in range(2, n + 1):
        x = x * num
    return x

In [83]:
factorial(7)

5040

### Q12)

In [307]:
## Q12)
def prime(n):
    for num in range(2,n):
        if n % num == 0:
            print('composite')
            print(int(n/num),'*',num,'=',n)
            break
    else:
        print('Prime')

In [309]:
prime(5)

Prime

### Q13)

In [333]:
def pali(n):
    x = []
    if type(n) == str:
        for i in n:
            x.append(i)
        if x == x[::-1]:
            print('given string is a Palidrome')
        else:
            print('given string is not a palidrome')
            
    else:
        print('please enter string values')

In [334]:
pali('1234321')

given string is a Palidrome

### Q14)

In [335]:
def side(n):
    if 180 - (90 + n) > 0:
        print('the other side of the traingle is ---', (180 - (90 + n)))
    else:
        print('the sum of all the angle of a triangle cannot exceeds 180')

In [336]:
side(25)

the other side of the traingle is --- 65

In [337]:
import numpy as np
def sides(x,y):
    z = x**2 + y**2
    z = np.sqrt(z)
    print('the third side of the triangle is ---',z)

In [338]:
sides(5,6)

the third side of the triangle is --- 7.810249675906654

### Q15)

In [1]:
import pandas as pd
def freq(n):
    x =[]
    if type(n) == str:
        for i in n:
            x.append(i)
        y = pd.DataFrame(x)
        print(y.value_counts())
    else:
        print('Please enter string values')

In [9]:
freq('Hello')

l    2
H    1
e    1
o    1
dtype: int64